{% extends 'base.html' %}

{% block title %}研报{% endblock %}

{% block content %}

      {% if quantposts %}
      {% for quantpost in quantposts %}

      <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading"><a href="{{url_for('stock.read_post',post_id=quantpost.id)}}" >{{quantpost.title}}</a></h4>
        <p class="mb-0">{{quantpost.excerpt|striptags|truncate}}

  
        </p>
        
      </div>

    

      {% endfor %}

  {% endif %}
     
    
  
{% endblock %}
