<div class="card text-white bg-primary mb-3" style="max-width: 20rem;float:left;margin-right:20px;">
    <div class="card-header">时间</div>
    <div class="card-body">
      <h4 class="card-title">标题</h4>
      <p class="card-text">摘要</p>
    </div>
    <div >
    <button type="button" class="btn btn-danger"style="margin-bottom:10px;margin-left:10px;max-width: 100px;float:left;"><a class="card-text" href='#'>收藏</a></button>
    <button type="button" class="btn btn-danger"style="margin-right:10px;margin-bottom:10px;margin-left:10px;max-width: 100px;float:left;"><a class="card-text" href='#'>阅读</a></button>
    </div>
  </div>