{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}影视{% endblock %}


{% block content %}

<body>
   
    <div class="parent">
    <div class="child">
        
    </div>
    <div id="bar" style="width:1000px; height:600px;"></div>
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});                
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('stock.kline') }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>
      </div>

 
    
      
